{% extends 'base.html.twig' %}

{% block title %}New Enchere{% endblock %}

{% block body %}
    <div class="container text-center"> <!-- Adding a container with text-center class -->
        <h1>Create new Enchere</h1>
        {{ include('enchere/_form.html.twig') }}

        <a href="{{ path('app_enchere_index') }}">back to list</a>
    </div>
{% endblock %}

